@import "tailwindcss";

:root {
  --primary-color: #2563eb;
  --active-color: #1642a3;
  --gray-color: #f6f3f4;
  --light-gray-color: #f7fbfd;
  --error-color: #ef4444;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}

* {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  max-width: 100%;
  box-sizing: border-box;
}

form {
  margin: 0;
  padding: 0;
}

.blink {
  animation: blink 3s infinite ease-in-out;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}